// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.upload_time, .gross_revenue {margin-left: 8px; }

.revenue_amount { font-weight: bold;}

.show_details_link { margin-left: 10px; }

.notice, .alert { margin-left: 10px; }